body {
    background-color: #ECF7FE;
    
}
tr:nth-child(even) {
    background-color: #ffffff !important;
}
h1, h2, h3, p {
    color: #2C3775;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'DM Sans', sans-serif;
}

h5 {
    color: 4C4C4C;
}

.content {
    width: 100%;
}

.h1-dashboard {
    margin-top: -15px;
}
.bigcarddashboard {
    overflow-x: auto;
    white-space: nowrap;
    max-width: 100% !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: white;
    height: auto;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-right: 20px;
    z-index: 0;
    padding-bottom: 20px;
}
.tablediv {
    overflow-x: auto;
    width: 100%;
    margin-top: 10px;
}
.pageselectdashboard {
    margin-top: 30px;
    justify-content: center;
    display: flex;
    height: 40px;
}
.iconinwhitebox {
    margin-top: 28px;
    margin-left: 30px;
}
.iconpaperlow {
    margin-top: 25px;
    margin-left: 30px;
}
.iconoffline {
    margin-top: 25px;
    margin-left: 30px;
}
.iconnopaper {
    margin-top: 25px;
    margin-left: 30px;
}
.nopapertext {
    margin-left: 3px;
    margin-top: 23px;
}
.paperlowtext {
    margin-left: 5px;
    margin-top: 23px;
}
.onlinetext {
    margin-left: 5px;
    margin-top: 23px;
}
.offlinetext {
    margin-top: 23px;
    margin-left: 5px;
}
.icononline {
    margin-top: 25px;
    margin-left: 40px;
}
.icononlinetable {
    margin-right: 10px;
}
.statusandimage {
    display: flex;
    
}
.listoptiondash {
    margin-left: 10px;
    margin-top: 20px;
}
.area {
    padding: 10px;
}
.rowperpagedash {
    color:black;
    margin-left: 0px !important;
}
.kioskstatus {
    margin-left: 10px;
    color: #2C3775;
}
.searchdiv {
    width: 100%;
    display:flex;
}
.searchbar {
    height: 35px;
    width: 100%;
    position: relative;
    border-color: #655BD3;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-width: thin;
}
.button-search {
    position:relative;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    height: 40px !important;
    font-weight: normal !important;
}
.kiosktext {
    margin-left: 0px;
    margin-bottom: 0px;
    height: 5px;
}
.numberkiosk {
    height: 10px;
}
.Table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}
  
td, th {
    
    text-align: center !important;
    padding: 8px;
}

tbody {
    color: #2B3674;
    font-weight: bold;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}
.allcard {
    display: flex;
    margin-right: 20px;
}
.button {
    background-color: #655BD3;
    border: none;
    color: white;
    height: 30px;
    padding: 0px !important;
    width: 100px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.Card-body {
    align-self: center;
}

.Card-field {
    padding-right: 16px;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.css-fvvjsc-MuiPaper-root {
    max-width: initial;
    box-shadow: 2px 3px 2px 0px #ac9c9c;
    border-radius: 10px;
}

.kiosk-num {
    color: #4C4C4C;
    font-weight: 600;
    font-size: x-large;
}

.percent {
    place-self: center;
}

.last-week-div {
    margin-bottom: 0px !important;
    padding-bottom: 10px !important;
    height: 20px !important;
}

.arrow {
    font-size: 10px;
}
:where(.css-dev-only-do-not-override-xu9wm8).ant-menu-horizontal {
	border-bottom: 0px solid rgba(5, 5, 5, 0.06) !important;
}

.MuiDataGrid-columnHeaderTitle.css-t89xny-MuiDataGrid-columnHeaderTitle {
    font-weight: bold;
}
