body {
  background-color: #ECF7FE;
  
}
tr:nth-child(even) {
  background-color: #ffffff !important;
}
h1, p {
  color: #2C3775;
}
.content {
  margin-top: 30px;
  width: 100%;
}

.bigcarddashboard {
  overflow-x: auto;
  white-space: nowrap;
  max-width: 100% !important;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: white;
  height: auto;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-right: 20px;
  z-index: 0;
  padding-bottom: 20px;
}


.searchdiv {
  width: 100%;
  display:flex;
}
.searchbar {
  margin-left: 10px;
  height: 35px;
  width: 100%;
  position: relative;
  border-color: #655BD3;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-width: thin;
}
.button-search {
  position:relative;
  margin-right: 10px;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  height: 40px !important;
  font-weight: normal !important;
}

.button {
  background-color: #655BD3;
  border: none;
  color: white;
  height: 30px;
  padding: 0px !important;
  width: 100px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.searchdivuser {
  width: 100%;
  display:flex;
  margin-top: 20px !important;
}

.Table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

.MuiDataGrid-columnHeaderTitle.css-t89xny-MuiDataGrid-columnHeaderTitle {
  font-weight: bold;
}