
body {
    background-color: #ECF7FE;
}
h1 {
    margin-left: 280px;
    color: #2C3775;
}
p {
    margin-left: 280px;
    color: #2C3775;
}
.bigcard {
    overflow-x: auto;
    white-space: nowrap;
}
.scroll-container {
    overflow-x: auto;
}
.pageselect {
    margin-top: 30px;
    margin-left: 150px;
    display: flex;
    height: 40px;
}
.iconinwhitebox {
    margin-top: 28px;
    margin-left: 30px;
}
.iconpaperlow {
    margin-top: 28px;
    margin-left: 30px;
}
.iconoffline {
    margin-top: 28px;
    margin-left: 30px;
}
.iconnopaper {
    margin-top: 28px;
    margin-left: 30px;
}
.nopapertext {
    margin-left: 3px;
    margin-top: 23px;
}
.paperlowtext {
    margin-left: 5px;
    margin-top: 23px;
}
.onlinetext {
    margin-left: 5px;
    margin-top: 23px;
}
.offlinetext {
    margin-top: 23px;
    margin-left: 5px;
}
.icononline {
    margin-top: 28px;
    margin-left: 40px;
}
.statusandimage {
    display: flex;
}
.listoption {
    margin-left: 10px;
    margin-top: 20px;
}
.container {
    padding: 10px;
}
.rowperpage {
    color:black;
}
.kioskstatus {
    margin-left: 10px;
    color: #2C3775;
}
.searchbar {
    margin-left: 10px;
    height: 25px;
    width: 930px;
}
.kiosktext {
    margin-left: 0px;
    height: 5px;
}
.numberkiosk {
    height: 10px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}
.allcard {
    display: flex;
}
.button {
    background-color: #655BD3;
    border: none;
    color: white;
    height: 30px;
    padding: 0px !important;
    width: 100px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.bigcard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-left: 280px;
    width: 1060px;
    background-color: white;
    height: 600px;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 30px;
    z-index: -1;
}
.container2 {
    margin-top: 10px;
    margin-right: 4px;
}
.card1 {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-left: 280px;
    width: 250px;
    background-color: white;
    height: 125px;
    border-radius: 10px;
}
.card2 {
    display: flex;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-left: 20px;
    border-radius: 10px;
    width: 250px;
    height: 125px;
}
.card3 {
    display: flex;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-left: 20px;
    width: 250px;
    height: 125px;
    border-radius: 10px;
}
.card4 {
    display: flex;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-left: 20px;
    width: 250px;
    height: 125px;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}