body {
    background-color: #ecf7fe;
  }
  h1 {
    margin-left: 280px;
    color: #2c3775;
  }
  p {
    margin-left: 280px;
    color: #2c3775;
  }
  /* .allcard {
    display: flex;
  } */
  .bigcard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-left: 280px;
    width: 1230px;
    background-color: white;
    height: 600px;
    border-radius: 10px;
    margin-top: 40px;
    position: relative;
    margin-bottom: 30px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  
  .search {
    margin-left: 10px;
    height: 30px;
    width: 1100px;
    margin-top: 15px;
    border: 2px solid #655bd3;
    border-radius: 5px;
  }
  
  .Search-button {
    height: 35px;
    width: 80px;
    margin-left: 2px;
    border-radius: 5px;
    color: white;
    background-color: #655bd3;
    border: 2px solid #655bd3;
  }
  
  /* Table Styling */
  
  table {
    width: 100%;
    border-collapse: collapse; /* Remove borders between cells */
    font-family: sans-serif;
  }
  
  th,
  td {
    padding: 0.5rem;
    border: 1px solid #ccc;
  }
  
  th {
    background-color: #f2f2f2;
    text-align: center;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* button style */
  
  .button-group {
    position: left; /* Positioning relative to bigcard */
    margin-left: 10px;
    top: 10px; /* Adjust the top as necessary */
    left: 10px; /* Adjust the left as necessary */
    display: flex;
    gap: 10px; /* Adds space between buttons */
  }
  
  .button {
    padding: 8px 16px; /* Adds padding inside the buttons */
    border: none;
    border-radius: 5px;
    cursor: pointer; /* Changes cursor to pointer on hover */
    font-weight: bold;
  }
  
  .add-button {
    background-color: #655BD3; /* Example color */
    color: white;
  }
  
  .delete-button {
    background-color: #f44336; /* Example color */
    color: white;
  }
  
  /* pageselect style */
  
  .pageselect {
    margin-top: 30px;
    margin-left: 250px;
    display: flex;
    height: 40px;
  }
  .rowperpage {
    color: black;
  }
  .listoption {
    margin-left: 10px;
    margin-top: 20px;
  }
  