.ant-layout-header {
    height: 42px;
}
.layout {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
}
.ant-layout-header{
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.textinheader {
    justify-content: left;
}
.textloan {
    font-family: 'DM Sans', sans-serif;
}
.demo-logo {
    display:flex;
    margin-top: 0px;
    align-items: center;
}
.logo{
    width:256px;
    margin-left: -10px;
}
.css-dev-only-do-not-override-xu9wm8 {
    padding: 0px !important;
}