.ant-menu-item-selected {
    background-color: #685ED5 !important;
    color: #fff;
}
.ant-menu-title-content {
    font-family: 'DM Sans', sans-serif;
}
.ant-menu-dark {
    background-color: #2F3349;
    margin-top: 42px;
}
.ant-menu {
    z-index: 1;
}
:where(.css-dev-only-do-not-override-xu9wm8).ant-menu-dark.ant-menu-inline .ant-menu-sub.ant-menu-inline, :where(.css-dev-only-do-not-override-xu9wm8).ant-menu-dark>.ant-menu.ant-menu-inline .ant-menu-sub.ant-menu-inline {
    background: #2F3349;
}
.iconheader {
    float: left;
}
.ant-menu-item-divider {
    color: #A1B8B8 !important;
    border-color: #A1B8B8 !important;
    border-width: 0.5px !important;
    margin-bottom: 20px !important;
}
.non-clickable-text {
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    /* Add any additional styles you need */
    pointer-events: none; /* Disables mouse events */
    user-select: none; /* Disables text selection */

}
.non-clickable-text:hover {
    /* No hover effect */
    cursor: default; /* Sets default cursor */
}